<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDlr6rYypTVAUoll0mKDRxoSY4Leyvk5M</string>
	<key>GCM_SENDER_ID</key>
	<string>475437734654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>here.Serenova-2-0</string>
	<key>PROJECT_ID</key>
	<string>serenova-59d2c</string>
	<key>STORAGE_BUCKET</key>
	<string>serenova-59d2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475437734654:ios:3becf1dd697f06a98de3af</string>
	<key>DATABASE_URL</key>
	<string>https://serenova-59d2c-default-rtdb.firebaseio.com</string>
</dict>
</plist>